<footer class="footer">
    <div class=" container-fluid ">
      <nav>
        <ul>
          <li>
            <a target="_blank" 
               href="https://appseed.us/product/now-ui-dashboard/flask/">
              Flask Now UI
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright" id="copyright">
        &copy; <a href="https://bit.ly/3fKQZaL" target="_blank">Creative Tim</a> 
        - coded by <a href="https://appseed.us" target="_blank">AppSeed</a>.
      </div>
    </div>
</footer>
