<div class="sidebar" data-color="orange">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
    <div class="logo">
      <a target="_blank"
         href="https://appseed.us/product/now-ui-dashboard/flask/" 
         class="simple-text logo-mini">
        PI
      </a>
      <a target="_blank" 
         href="https://appseed.us/product/now-ui-dashboard/flask/" 
         class="simple-text logo-normal">
        Flask Now UI
      </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
      <ul class="nav">
      {% if current_user.is_authenticated %}
        <li class="{% if 'index' in segment %} active {% endif %}">
          <a href="/">
            <i class="now-ui-icons design_app"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="{% if 'icons' in segment %} active {% endif %}">
          <a href="/icons.html">
            <i class="now-ui-icons education_atom"></i>
            <p>Icons</p>
          </a>
        </li>
        <li class="{% if 'map' in segment %} active {% endif %}">
          <a href="/map.html">
            <i class="now-ui-icons location_map-big"></i>
            <p>Maps</p>
          </a>
        </li>
        <li class="{% if 'notifications' in segment %} active {% endif %}">
          <a href="/notifications.html">
            <i class="now-ui-icons ui-1_bell-53"></i>
            <p>Notifications</p>
          </a>
        </li>
        <li class="{% if 'user' in segment %} active {% endif %}">
          <a href="/user.html">
            <i class="now-ui-icons users_single-02"></i>
            <p>User Profile</p>
          </a>
        </li>
        <li class="{% if 'tables' in segment %} active {% endif %}">
          <a href="/tables.html">
            <i class="now-ui-icons design_bullet-list-67"></i>
            <p>Table List</p>
          </a>
        </li>
        <li class="{% if 'typography' in segment %} active {% endif %}">
          <a href="/typography.html">
            <i class="now-ui-icons text_caps-small"></i>
            <p>Typography</p>
          </a>
        </li>
        <li class="{% if 'page-blank' in segment %} active {% endif %}">
            <a href="/page-blank.html">
                <i class="now-ui-icons text_caps-small"></i>
                <p>Blank Page</p>
            </a>
        </li>
        <li class="{% if 'page-404' in segment %} active {% endif %}">
            <a href="/page-404.html">
                <i class="now-ui-icons loader_gear"></i>
                <p>Error 404</p>
            </a>
        </li>
        <li class="">
            <a href="{{ url_for('authentication_blueprint.logout') }}">
                <i class="now-ui-icons media-1_button-power"></i>
                <p>Logout</p>
            </a>
        </li>        
        <li class="active-pro active">
          <a target="_blank"
             href="https://appseed.us/support/">
            <i class="now-ui-icons objects_spaceship"></i>
            <p>Support</p>
          </a>
        </li>
        {% else %}
        <li class="active">
          <a target="_blank"
             href="https://appseed.us/support/">
            <i class="now-ui-icons objects_spaceship"></i>
            <p>Support</p>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
