{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="panel-header panel-header-sm">
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5 class="title">
                Blank Page
              </h5>
              <p class="category">
                  Simple starter page
              </p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                    Add more content here      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
