
      <footer class="footer">
        <div class="container-fluid">
          <nav>
            <ul>
              <li>
                <a href="https://appseed.us/admin-dashboards/flask-nowui-dashboard">
                  Flask NowUI Dashboard
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright" id="copyright">
            &copy; <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>, 
            Coded in <a href="http://flask.pocoo.org/">Flask</a> by <a href="https://appseed.us">AppSeed</a>
          </div>
        </div>
      </footer>

