
      <footer class="footer">
        <div class="container-fluid">
          <nav>
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Creative Tim
                </a>
              </li>
              <li>
                <a href="https://appseed.us">
                  AppSeed
                </a>
              </li>
              <li>
                <a href="http://blog.appseed.us">
                  Blog
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright" id="copyright">
            &copy;
            <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script>, by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>, 
            Coded in <a href="http://flask.pocoo.org/">Flask</a> by <a href="https://appseed.us">AppSeed</a>
          </div>
        </div>
      </footer>

