
    <div class="sidebar" data-color="orange">
      <!-- Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow" -->
      <div class="logo">
        <a href="https://github.com/app-generator/flask-now-ui-dashboard" class="simple-text logo-mini">
          SRC
        </a>
        <a href="https://github.com/app-generator/flask-now-ui-dashboard" class="simple-text logo-normal">
          Source Code
        </a>
      </div>
      {% if current_user.is_authenticated %}
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="/">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="/icons.html">
              <i class="now-ui-icons education_atom"></i>
              <p>Icons</p>
            </a>
          </li>
          <li>
            <a href="/notifications.html">
              <i class="now-ui-icons ui-1_bell-53"></i>
              <p>Notifications</p>
            </a>
          </li>
          <li>
            <a href="/user.html">
              <i class="now-ui-icons users_single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
          <li>
            <a href="/tables.html">
              <i class="now-ui-icons design_bullet-list-67"></i>
              <p>Table List</p>
            </a>
          </li>

          <li>
            <a href="/typography.html">
              <i class="now-ui-icons text_caps-small"></i>
              <p>Typography</p>
            </a>
          </li>

          <li>
            <a href={{ url_for('logout') }}>
              <i class="now-ui-icons media-1_button-power"></i>
              <p>Logout</p>
            </a>
          </li>

          <li class="active-pro">
            <a href="https://appseed.us">
              <i class="now-ui-icons objects_spaceship"></i>
              <p>AppSeed</p>
            </a>
          </li>
        </ul>
      </div>
      {% endif %}
    </div>

